.logo-container {
  position: relative;
}

.animated-logo {
  opacity: 0;
  transform: translateY(0);
  animation: fadeInAndSlideUp 4s ease-in-out forwards;
}

.landing-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  height: 140px;
  gap: 20px;
}

.password-container {
  text-align: center;
}

.password-input {
  text-align: center;
  padding: 0 35px;
  color: rgba(255, 255, 255, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 80px;
  padding: 12px;
}

.password-label {
  font-family: "Poiret One", sans-serif;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
}

.login-button {
  font-family: "Poiret One", sans-serif;
  color: rgba(255, 255, 255, 0.65);
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* nimmt die volle Höhe des Viewports */
}

.fade-out {
  animation: fadeOut 1s ease-in forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
