.card {
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 32px;
    width: calc(100% - 64px);
    font-size: 18px;
}

.card h2 {
    align-self: center;
}

.glass-effect {
    color: var(--text-primary);
    background: var(--card-background);
    backdrop-filter: blur(10px);
    border-radius: 23px;
    border: 1px solid rgba(255, 255, 255, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}
