input {
    padding: 12px 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: #fff;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

input::placeholder {
    color: white;
}