.drinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}
.add {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 16px;
  border-radius: 23px;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  overflow: visible;
}

.touch {
  transform: rotate(-35deg);
  position: absolute;
  right: -14px;
  bottom: -2px;
}

.drink-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.drink-item span:first-child {
  cursor: pointer;
}

.drinks-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.drink-count {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 4px;
}

.donation-amount {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 1.6rem;
}

.donation-buttons {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  gap: 10px;
  justify-content: center;
  margin: auto;
}

.donation-buttons a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
