.timetable {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeblock {
    width: 100%;
}

.timeblock .location {
    font-weight: normal;
    font-size: 0.95rem;
}

.time-heading {
    position: sticky;
    top: 0;
    padding: 16px 32px;
    border-bottom: solid 1px #ccc;
    background: rgba(204, 204, 204, 0.87);
    font-family: "Cinzel Decorative", serif;
    color: black;
}

.timeblock .act .name {
    font-weight: bold;
}
.timeblock .act {
    padding: 16px 32px;
    hyphens: auto;
    text-align: justify;
    border-top: solid 1px rgba(204, 204, 204, 0.68);
}

.timeblock .act p {
    font-size: 0.9rem;
}
.timeblock .act h3 {
    font-size: 1.3rem;
    margin: 0;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.timeblock .act h4 {
    font-size: 0.8rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}