:root {
  --forest-green: #2F4F3E;
  --soft-moss: #6C8A69;
  --wildflower-pink: #D78AA8;
  --dusk-orange: #E28C52;
  --sunlight-yellow: #F2E28D;
  --bloom-white: #FAF7F2;

  --neutral-background: #e2dddd;
  --text-primary: white;
  --text-primary-invert: black;
  --card-background: rgba(255, 255, 255, 0.1);
  --text-font-family: "Poiret One", sans-serif; 
}


.high-contrast {
  --text-primary: black;
  --card-background: rgba(255, 255, 255, 0.9);
  --neutral-background: #bcbbbb;
}

.bigger-text {
    --text-font-family: Arial, sans-serif;
}


@font-face {
  font-family: Poiret One;
  src: url('/fonts/PoiretOne-Regular.ttf') format('truetype');
}


@font-face {
  font-family: "Cinzel Decorative";
  src: url('/fonts/CinzelDecorative-Bold.ttf') format('truetype');
  font-weight: bold;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/*
Color Name	Hex Code	Usage Recommendation
Forest Green	#2F4F3E	Primary background, headers
Soft Moss	#6C8A69	Secondary background or nav bars
Wildflower Pink	#D78AA8	Accent color, buttons, highlights
Dusk Orange	#E28C52	Notification or action color
Sunlight Yellow	#F2E28D	Hover states, light accents
Bloom White	#FAF7F2	Text on dark background

 */
