body,
html {
  margin: 0;
  padding: 0;
  color: black;
  background: #fffaec;
  font-family: "Poiret One", sans-serif;
}

.background {
  background-image: url("/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(0px);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

main {
  position: relative;
  display: flex;
}

.glass-effect {
  color: white;
  border: 1px solid #000000;
  background: white;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 23px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.card {
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-field .row {
  display: flex;
  gap: 55px;
  flex-direction: row;
}

input {
  padding: 12px 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: #fff;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}

input::placeholder {
  font-family: "Poiret One", sans-serif;
  color: white;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  font-size: 14px;
}

.options input {
  margin-right: 5px;
}

.hint {
  opacity: 0.5;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #e1e1e1;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.register-link a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

/*
Color Name	Hex Code	Usage Recommendation
Forest Green	#2F4F3E	Primary background, headers
Soft Moss	#6C8A69	Secondary background or nav bars
Wildflower Pink	#D78AA8	Accent color, buttons, highlights
Dusk Orange	#E28C52	Notification or action color
Sunlight Yellow	#F2E28D	Hover states, light accents
Bloom White	#FAF7F2	Text on dark background

 */
